.orderedList ol li:hover {
	font-size: 36px;
	color: red;
}

h1::first-letter {
	font-size: 32px;
	font-family: monospace;
	color:red;
}

.text:first-letter {
	color:yellow;
}

button:focus {
	background-color: black;
	color:white;
}
/* text shadow */


div.text {
	text-shadow: 2px 2px #003300;
}


/*shadow box */

div.container {
    box-shadow: 10px 10px 5px 0px rgba(0,0,119,1);
    moz-box-shadow: 10px 10px 5px 0px rgba(0,0,119,1);
    webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,119,1);
    border-radius: 35px 35px 35px 35px;
-moz-border-radius: 35px 35px 35px 35px;
-webkit-border-radius: 35px 35px 35px 35px;
border: 0px solid #000000;
}



